span{
    font-size: 20px;
    font-weight:bold;
    }

.item1{ 
	position: absolute;
	left:200px;
	top:150px;
	font-size: 30px;
	}

.item2{
	position: absolute;
	left:350px;
	top:150px; 
	font-size: 30px;
	}

.item3{ 
	position: absolute;
	left:1400px;
	top:160px;
	font-size:20px;
	}



input[value="text"]{
	position: absolute;
	left:600px;
	top:100px;
	}
	
